@model System.Collections.Generic.List<Voting.Data.Models.BallotIssue>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>



        <html>

        <body>

            @foreach (var issue in Model)
            {
                <ul>@issue.Description</ul>
            }
        </body>
    </html>

</div>
</body>
</html>
